ipv6 ULA Support via boot script

Hello, would it anyhow possible to add ipv6 ULA support to the UDM ?

The Problem is I like to provide a pihole container trough podman in a mgmt Network that is reachable via all VLAN separated networks.

My ISP changes my ipv6 prefix from time to time and therefore a fix configured ULA would help me in assigning this ipv6 IP of the pihole to my end client's via SLAAC from the UDM ...

I think the script should manually assign all bridged vlan interfaces on the UDM a own specified ipv6 ULA address then enable SLAAC Service to provide additional ULA adsresses to end clients in the VLAN's

Does anyone have a comment on this ?

the counterpart on the USG can be found under following topic:
https://community.ui.com/questions/IPv6-Have-USG-assign-Unique-Local-Address-through-Router-Advertisement/e516521b-9f40-4a00-a0b6-60311790276d#comment/5cb60cbc-7bb4-46cd-a284-1d52db8b1173

dirty workaround if you want RA for a ULA prefix from dnsmasq enter following into on-state-change.sh
after adding the ipv6 ula address to br0 device for example

# on_state-change.sh 

add_ula () {
  if [ -z "`ip address show dev $1 to $ULA_PREFIX::/48`" ]
  then
    ip address add $ULA_PREFIX:$2::1/64 dev $1
  fi
}

add_ula br0 0
#add_ula br2 1
#add_ula br3 2
#add_ula br30 3
#add_ula br40 4

# only add entry to dnsmasq config if it does not exist
grep  ula6_br0 /run/dnsmasq.conf.d/dhcp.dhcpServers-net_Default_br0_192-168-1-0-24_IPV6.conf && echo dhcp-range=set:ula6_br0,fd60:e0ce:679d::2,fd60:e0ce:679d::7d1,constructor:br0,64,86400 >> /run/dnsmasq.conf.d/dhcp.dhcpServers-net_Default_br0_192-168-1-0-24_IPV6.conf
# send signal to dnsmaq for reloading it's config after adding the line if it is not there
pkill --signal HUP -u 0 dnsmasq

I was able to use what @helbgd built on my UDM SE, with a couple of modifications.
1. The subnet mask check for whether the IP was already assigned needed to be `$ULA_PREFIX:$2::/64`
1. The persistent data is mounted on `/data/` not `/mnt/data`
1. I made it so it only restarted `dnsmasq` if it was required
 
Here's the new script that works on my Ubiquiti Dream Machine SE
```bash
#!/bin/bash

ULA_PREFIX="fded"

add_ula () {
  if [ -z "`ip address show dev $1 to $ULA_PREFIX:$2::/64`" ]
  then
    ip address add $ULA_PREFIX:$2::1/64 dev $1
  fi
}

add_ula br0 0
add_ula br2 2
add_ula br20 20
add_ula br100 100
add_ula br101 101
add_ula br102 102

ADDEDDNSMASQ=0

# only add entry to dnsmasq config if it does not exist
add_dnsmasq () {
  range=dhcp-range=set:ula6_$1,$ULA_PREFIX:$2::2,$ULA_PREFIX:$2::7d1,constructor:$1,64,86400
  conf=$(find /run/dnsmasq.conf.d/ -type f -name "*$1*IPV6.conf")
  if [ -z "`grep ula6_$1 $conf`" ]
  then
    echo $range >> $conf
    echo "Added $range"
    ADDEDDNSMASQ=1
    # reload dnsmasq config
    # pkill -u 0 --signal HUP dnsmasq
  fi
}

add_dnsmasq br0 0
add_dnsmasq br2 2
add_dnsmasq br20 20
add_dnsmasq br100 100
add_dnsmasq br101 101
add_dnsmasq br102 102

[ "$ADDDNSMASQ" == "1" ] && pkill -u 0 --signal HUB dnsmasq
```

Don't forget to `chmod +x` that script so it will work.

The scripts here works great for setting up ULA, however, did anyone get reverse name lookups on the ULA ipv6 addresses working? I'm trying to overcome a "problem" where adguard won't properly assign client names when queries where sent from ipv6 addr

Hm, so while my devices do infact get the ULA addresses, I cannot use them to send/receive packets across the ULA networks (or more accurately across VLANs).
The UDM SE can ping into both ULA v6 networks, but the devices cannot ping each other...

Ok, THANK YOU for this solution! It worked, but needed a few tweaks & requisites. 

1) **/mnt/data/onboot.d/** does not exist. Actually, **/mnt** is empty. So we need to install **onboot.d** and it'll now be in **/data/** instead.
2) the script, at least in my UDM SE v4.0.6 did not like the sigle [ ] brackets in the last line. I had to do it the long way of `if [ ... ] fi`

To summarise,

### **1) Install onboot,**

* Run the following: 

`curl -fsL "https://raw.githubusercontent.com/unifi-utilities/unifios-utilities/HEAD/on-boot-script-2.x/remote_install.sh" | /bin/bash`

Reference from [here](https://github.com/unifi-utilities/unifios-utilities/tree/main/on-boot-script-2.x).

* Disable the other 2 scripts in onboot.d/  (I don't need any other utilities or things installed)

```
cd /data/onboot.d/
chmod -x 05-install-cni-plugins.sh 06-cni-bridge.sh
```



### **2)  Get your prefix:** 

Enter your UDM SE interface's MAC address and get the prefix to use. 

https://cd34.com/rfc4193/ 

for this example, we'll use `fdaa:abcd:1234`.

### **3) Add the ULA script:**

You can put it anywhere in /data/. I made a directory called ipv6-ula for consistency.

```
mkdir /data/ipv6-ula
vim /data/ipv6-ula/ensure_ula.sh
```

Add the following. Uncomment the interfaces you need.

```
#!/bin/bash

ULA_PREFIX="fdaa:abcd:1234"

add_ula () {
  if [ -z "`ip address show dev $1 to $ULA_PREFIX:$2::/64`" ]
  then
    ip address add $ULA_PREFIX:$2::1/64 dev $1
  fi
}

add_ula br0 0
#add_ula br2 2
#add_ula br20 20
#add_ula br100 100
#add_ula br101 101
#add_ula br102 102

ADDEDDNSMASQ=0

# only add entry to dnsmasq config if it does not exist
add_dnsmasq () {
  range=dhcp-range=set:ula6_$1,$ULA_PREFIX:$2::2,$ULA_PREFIX:$2::7d1,constructor:$1,64,86400
  conf=$(find /run/dnsmasq.conf.d/ -type f -name "*$1*IPV6.conf")
  if [ -z "`grep ula6_$1 $conf`" ]
  then
    echo $range >> $conf
    echo "Added $range"
    ADDEDDNSMASQ=1
    # reload dnsmasq config
    # pkill -u 0 --signal HUP dnsmasq
  fi
}

# Use single brackets for compatibility
if [ "$ADDEDDNSMASQ" = "1" ]; then
  pkill -u 0 --signal HUP dnsmasq
fi
```

Then,

`chmod a+x /data/ipv6-ula/ensure_ula.sh`


### **4) Setup on_boot script:**

Then, in /data/on_boot.d/07-ula.sh, sets things up to run ensure_ula every minute:

`vim /data/on_boot.d/07-ula.sh`

add:

```
#!/bin/sh

echo "* * * * * sh /data/ipv6-ula/ensure_ula.sh" > /etc/cron.d/ula
```

and then `chmod a+x /data/on_boot.d/07-ula.sh`

That did the trick! And I got this working with my pihole too.

The `add_dnsmasq` function currently requires IPv6 be enabled with Prefix Delegation or Static in Unifi Network App.  It also seems to currently break DNSMASQ in Unifi with the following error.
```
2024 Aug 20 04:31:14 UDM-SE prefix must be zero with "constructor:" argument at line 13 of /run/dnsmasq.conf.d//dhcp.dhcpServers-net_Internet_of_Things_br2_192-168-2-0-24_IPV6.conf
```
This error apparently prevents the DNS server from starting.

> The `add_dnsmasq` function currently requires IPv6 be enabled with Prefix Delegation or Static in Unifi Network App. It also seems to currently break DNSMASQ in Unifi with the following error.
> 
> ```
> 2024 Aug 20 05:05:03 UDM-SE prefix must be zero with "constructor:" argument at line 13 of /run/dnsmasq.conf.d//dhcp.dhcpServers-net_Internet_of_Things_br2_192-168-2-0-24_IPV6.conf
> 2024 Aug 20 05:05:03 UDM-SE FAILED to start up
> ```
> 
> This error apparently prevents the DNS server from starting.

I’m facing the same issue. Is it mandatory to add the `mode` between the `interface` and the `prefix-length`?

```
range=dhcp-range=set:ula6_$1,$ULA_PREFIX:$2::2,$ULA_PREFIX:$2::7d1,constructor:$1,ra-only,64,86400
```

I’m not sure, though, what the appropriate mode is. From [Man page of DNSMASQ](https://thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html):

```
For IPv6, the mode may be some combination of ra-only, slaac, ra-names, ra-stateless, ra-advrouter, off-link.

ra-only tells dnsmasq to offer Router Advertisement only on this subnet, and not DHCP.

slaac tells dnsmasq to offer Router Advertisement on this subnet and to set the A bit in the router advertisement, so that the client will use SLAAC addresses. When used with a DHCP range or static DHCP address this results in the client having both a DHCP-assigned and a SLAAC address.

ra-stateless sends router advertisements with the O and A bits set, and provides a stateless DHCP service. The client will use a SLAAC address, and use DHCP for other configuration information.

ra-names enables a mode which gives DNS names to dual-stack hosts which do SLAAC for IPv6. Dnsmasq uses the host's IPv4 lease to derive the name, network segment and MAC address and assumes that the host will also have an IPv6 address calculated using the SLAAC algorithm, on the same network segment. The address is pinged, and if a reply is received, an AAAA record is added to the DNS for this IPv6 address. Note that this is only happens for directly-connected networks, (not one doing DHCP via a relay) and it will not work if a host is using privacy extensions. ra-names can be combined with ra-stateless and slaac.

ra-advrouter enables a mode where router address(es) rather than prefix(es) are included in the advertisements. This is described in RFC-3775 section 7.2 and is used in mobile IPv6. In this mode the interval option is also included, as described in RFC-3775 section 7.3.

off-link tells dnsmasq to advertise the prefix without the on-link (aka L) bit set.
```

So after looking at this thread for the past week and reading a bunch of docs, I think I finally have a script that kinda works. By replacing `ra-only` with `ra-names`, you can get _some_ resolutions for IPv6 hostnames. I think this doesn't work for all addresses because it relies on clients using MAC addresses to determine their IPv6 address, which a lot don't do. It'd be nice if Ubiquiti would just support this, because I can see all IPv6 addresses a client has in the UI.

BTW the `add_dnsmasq` function is very broken in some of those older scripts because of incorrect parameters being written to the config file. This is what's causing the `prefix must be zero with "constructor:"` error

``` sh
#!/bin/bash

ULA_PREFIX="fdaa:abcd:1234"

add_ula () {
  if [ -z "`ip address show dev $1 to $ULA_PREFIX:$2::/64`" ]
  then
    ip address add $ULA_PREFIX:$2::1/64 dev $1
  fi
}

add_ula br0 0
add_ula br20 20

ADDEDDNSMASQ=0

# only add entry to dnsmasq config if it does not exist
add_dnsmasq () {
  conf=$(find /run/dnsmasq.conf.d/ -type f -name "*$1*IPV6.conf")
  if [ -z "`grep ra-names $conf`" ]
  then
    sed -i 's/ra-only/ra-names/g' $conf
    echo "Changed to ra-names"
    ADDEDDNSMASQ=1
  fi
}

add_dnsmasq br0
add_dnsmasq br20

# Use single brackets for compatibility
if [ "$ADDEDDNSMASQ" = "1" ]; then
  pkill dnsmasq
fi
```

Sample of success:
```
root@Dream-Machine-Pro:~# nslookup fd63:b853:ca57:20:8647:9ff:fe1f:24ca
a.c.4.2.f.1.e.f.f.f.9.0.7.4.6.8.0.2.0.0.7.5.a.c.3.5.8.b.3.6.d.f.ip6.arpa	name = minipc1.serv.

root@Dream-Machine-Pro:~# nslookup minipc1.serv
Server:		127.0.0.1
Address:	127.0.0.1#53

Name:	minipc1.serv
Address: 192.168.2.231
Name:	minipc1.serv
Address: 2600:1700:xxx:xxxx:xxxx:xxx:xxxx:xxxx
Name:	minipc1.serv
Address: fd63:b853:ca57:20:8647:9ff:fe1f:24ca
```

I have several issues with the current version of the scripts.

First, it does now work properly when you have multiple networks defined and at least one of them does not use ipv6. Also, it looks like that after the most recent update the configuration file changed in the following way (setting dhcpv6 or slaac does not matter) that the term "ra-only" does not show up anymore leading to the problem that dnsmasqd gets restarted every minute causing issues in address resolution.


the new *IPV6.conf entries look like this

```

#
# Generated automatically by ubios-udapi-server
#

# Configuration of DHCP Server 'net_Default_br0_192-168-1-0-24_IPV6'
no-dhcp-interface=lo
interface=br0
enable-ra
ra-param=br0,high,600,1800
dhcp-range=set:net_Default_br0_192-168-1-0-24_IPV6,::2,::7d1,constructor:br0,slaac,64,86400
dhcp-option=tag:net_Default_br0_192-168-1-0-24_IPV6,option6:dns-server,[::]
exclude-from-lease=tag:net_Default_br0_192-168-1-0-24_IPV6,UBIOS6exclude_4e340a2

```
New file I used:
```
#!/bin/bash

ULA_PREFIX="fdaa:abcd:1234"
add_ula () {
  if [ -z "`ip address show dev $1 to $ULA_PREFIX:$2::/64`" ]
  then
    ip address add $ULA_PREFIX:$2::1/64 dev $1
  fi
}
add_ula br0 0
add_ula br5 5
add_ula br6 6
add_ula br10 10

ADDEDDNSMASQ=0

# only add entry to dnsmasq config if it does not exist
add_dnsmasq () {
  conf=$(find /run/dnsmasq.conf.d/ -type f -name "*$1*IPV6.conf")
  if [ -n "$conf" ]
  then
    if [ -z "`grep ra-names $conf`" ]
    then
       sed -i 's/br0\,slaac/br0\,ra-names\,slaac/g' $conf
       echo "added to ra-names"
       ADDEDDNSMASQ=1
     fi
  fi
}

add_dnsmasq br0
add_dnsmasq br5
add_dnsmasq br6
add_dnsmasq br10

# Use single brackets for compatibility
if [ "$ADDEDDNSMASQ" = "1" ]; then
 pkill dnsmasq
fi

```






